body,
html {
  margin: 0;
  font-size: large;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

label {
  margin-right: 10px;
}

button {
  border-color: rgb(123, 125, 255);
  border-style: double;
  background-color: rgb(176, 181, 255);
  border-radius: 15px;
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:active {
  background-color: rgb(108, 118, 255);
}

.element {
  margin: 20px;
}

.custom-table {
  border-collapse: collapse;
  width: calc(100% - 40px);
  /* Ширина 100%, отнимаем 40px за счет отступов по 20px с каждой стороны */
  /* Отступы от краев экрана */
  margin-top: 30px;
}

.custom-table th,
.custom-table td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

.custom-table th {
  background-color: #f2f2f2;
}

.custom-table th:not(:last-child),
.custom-table td:not(:last-child) {
  margin-right: 10px;
}

.my-notification {
  margin: 0 5px 5px;
  padding: 10px;
  font-size: medium;
  color: #ffffff;

  background: #44a4fc;
  border-left: 5px solid #187fe7;

  &.success {
    background: #68cd86;
    border-left-color: #42a85f;
  }

  &.warn {
    background: #ffb648;
    border-left-color: #f48a06;
  }

  &.error {
    background: #e54d42;
    border-left-color: #b82e24;
  }
}